body { font-size: 14px; width: 100%; height: 100vh; color: #555; font-family: 'Noto Sans KR', sans-serif; }
a { color: #555; }
::-webkit-scrollbar { display: none; }

div.wrap { width: 100%; height: 100vh; }
div.wrap::after { content: ""; width: 100%; height: 100%; display: block; background-image: linear-gradient(90deg, white, #a7c5d6); position: fixed; top: 0; left: 0; z-index: -5; border: 1vh solid #fff; box-sizing: border-box; }
div.wrapIn { widows: 100%; height: 100%; }

div.side { width: 20%; height: 100%; float: left; border-right: 1px solid white; /*box-sizing: border-box;*/ padding-top: 35vh; /*padding-left: 5%;*/ position: fixed; }
div.side > p { width: 50%; margin: 0 auto; }
div.side > p:nth-child(1) { font-size: 26px; border-bottom: 0px solid #555; /*padding-bottom: 10px;*/ }
div.side > p:nth-child(2) { letter-spacing: 24px; padding: 0 0 120px; }
div.side > p:nth-child(3) { font-size: 20px; }
div.side > p:nth-child(4) { font-size: 12px; line-height: 1; }
div.side > p:nth-child(4)::after { content: ""; display: block; width: 20px; height: 2px; background: #555; margin-top: 20px; }
div.side > p:nth-child(5) { font-size: 12px; padding-top: 10px;}

div.contents { width: 80%; height: 100%; float: right; }

div.contents > div { width: 100%; /*height: 100%;*/ }

div.main.on { position: relative; }
div.main.on > img { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);   -webkit-filter: drop-shadow(2px 2px 2px #999); filter: drop-shadow(2px 2px 2px #999); }

div.main, div.Work, div.Contact { display: none; }
div.main.on { display: block; height: 100%; cursor: pointer; }
div.Work.on { display: block; width: 100%; /*height: 100%;*/ background: #fff; }

div.Works { padding: 100px 0 150px; }

div.Work > div.Works > div { font-size: 20px; width: 80%; height: 250px;  margin: 0 auto 10px; }
div.Work > h1 { text-align: center; font-size: 16px;  padding-top: 100px; }
div.Work > h1::after { content: ""; display: block; width: 20px; height: 1px; background: #787878; margin: 0 auto; margin-top: 15px; }
/*div.ds > a { width: 100%; height: 100%; display: block; background: rgba(0,0,0,0.5); }*/
/*div.Work div.dsm { margin: 25px auto; }*/
div.bg { width: 60%; height: 100%; float: left; }
div.txt { width: 40%; height: 100%; float: right; background: #eff4f7;  }
div.txt > p:nth-child(1) { font-size: 14px; text-align: center; /*margin: 30px 0;*/ line-height: 250px;}



/*work_common*/
div.Work > div.Works > div.modal { background: rgba(0,0,0,0.8); position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 99; opacity:0; transition: opacity 400ms ease-in;  pointer-events: none; overflow-y: auto; }
div.Work > div.Works > div.modal.on {opacity: 1;}
div.Work > div.Works > div.modal:target { opacity:1; pointer-events: auto; }

div.modalIn { background: white; width: 1000px; margin: 100px auto 50px; text-align: center; padding: 150px 0 0; }
div.modalIn > p:nth-of-type(1) { font-size: 26px; }
div.modalIn > p:nth-of-type(2) { font-size: 16px; line-height: 30px; }
div.modalIn > p:nth-of-type(2)::after { content: ""; display: block; width: 20px; height: 2px; background: #555; margin: 0 auto; margin-top: 30px; }
div.modalIn table { margin: 100px; text-align: left; }
/* div.modalIn table tr {height: 30px; } */
div.modalIn table th { width: 130px; font-size: 14px; padding: 5px 0; font-weight: bold;  }
div.modalIn table td { font-size: 12px; vertical-align: middle; }
td.color > p { display: inline-block; width: 70px; height: 70px; border-radius: 50%; color: #fff; line-height: 70px; text-align: center; margin: 10px 5px; }

div.go > p { font-size: 14px; line-height: 50px; }
div.go button { display: block; width: 100%; height: 650px; background: url("../img/ydd_main.jpg") 80% no-repeat;/* padding-bottom: 500px;*/ cursor: pointer; }
a.close { display: block; text-align: center; padding-bottom: 100px; cursor: default; }
/*a.go > p { font-size: 12px; line-height: 50px; }*/

/*ichLinks*/
div.ichLinks div.bg {background: url("../img/mockup_ichLinks.jpg") center top 65% no-repeat; background-size: cover; }
div.ichLinks_modal button { background: url("../img/mockup_ichLinks.jpg") 100% / cover no-repeat; }

/*abba*/
div.abba div.bg {background: url("../img/thumb_abba.jpg") center no-repeat; background-size: cover; }
div.abba_modal button { background: url("../img/mockup_abba.jpg") 100% / cover no-repeat; }

/*ktvf2020*/
div.ktvf div.bg {background: url("../img/mockup_ktvf2020.jpg") center no-repeat; background-size: cover; }
/* a.go.ktvf { display: block; width: 100%; height: 100%; background: url("../img/mockup_ktvf2020.jpg") center no-repeat; padding-bottom: 500px; } */
div.ktvf_modal button { background: url("../img/mockup_ktvf2020.jpg") 100% / cover no-repeat; }

/*yddCI*/
div.yddCI div.bg {background: url("../img/ydda_main.jpg") center no-repeat; background-size: cover; }
a.go.yddCI { display: block; width: 100%; height: 100%; background: url("../img/ydda_main.jpg") center no-repeat; padding-bottom: 500px; }

/*ydda*/
div.ydda div.bg {background: url("../img/ydda_main02.jpg") center no-repeat; background-size: cover; }
a.go.ydda { display: block; width: 100%; height: 100%; background: url("../img/ydda_main.jpg") center no-repeat; padding-bottom: 500px; }

/*ydd*/
div.ydd div.bg {background: url("../img/ydd_main02.jpg") center 60%/ 120% no-repeat; }
div.ydd_modal div.modalIn { background: white; width: 1400px; margin: 100px auto 50px; text-align: center; padding: 150px 0 200px; }


/*yddm*/
/*div.yddm div.bg {background: url("../img/yddm_main.jpg") center no-repeat; background-size: cover; }
a.go.yddm { display: block; width: 100%; height: 100%; background: url("../img/yddm_main.jpg") center / cover no-repeat; padding-bottom: 500px; }*/

/*yddadmin*/
div.yddadmin div.bg {background: url("../img/yddadmin.jpg") center no-repeat; background-size: cover; }

/*doosan*/
div.ds div.bg { background: url("../img/doosan_web.jpg") center 45% / cover no-repeat; }

div.ds_modalIn table td.color > p:nth-of-type(1) { background: #273894; }
div.ds_modalIn table td.color > p:nth-of-type(2) { background: #18ae83; }
div.ds_modalIn table td.color > p:nth-of-type(3) { background: #1a1a1a; }
div.ds_modalIn table td.color > p:nth-of-type(4) { background: #525252; }

div.ds_modal button { background: url("../img/doosan_web.jpg") 100% / cover no-repeat; }



/*doosanm*/
div.dsm div.bg { background: url("../img/doosan_mobile.jpg") center no-repeat; background-size: cover; }

div.dsm_modalIn table td.color > p:nth-of-type(1) { background: #273894; }
div.dsm_modalIn table td.color > p:nth-of-type(2) { background: #18ae83; }
div.dsm_modalIn table td.color > p:nth-of-type(3) { background: #1a1a1a; }
div.dsm_modalIn table td.color > p:nth-of-type(4) { background: #525252; }

div.dsm_modal button { background: url("../img/doosan_mobile2.jpg") 100% / cover no-repeat; }


/*netflix*/
div.nf div.bg { background: url("../img/netflix.jpg") center / cover no-repeat; }

div.nf_modalIn table td.color > p:nth-of-type(1) { background: #e50914; }
div.nf_modalIn table td.color > p:nth-of-type(2) { background: #262626; }
div.nf_modalIn table td.color > p:nth-of-type(3) { background: #fff; border: 1px solid #555; color: #555; }
div.nf_modalIn table td.color > p:nth-of-type(4) { background: #000; }

div.nf_modal button { background: url("../img/netflix.jpg") 100% / cover no-repeat; }



div.Contact.on { /*position: relative;*/ display: block; background: #fff; width: 100%; height: 100%; text-align: center; padding-bottom: 30px;}
div.Contact > h1 { text-align: center; font-size: 16px;  padding-top: 100px; }
div.Contact > h1::after { content: ""; display: block; width: 20px; height: 1px; background: #787878; margin: 0 auto; margin-top: 15px; }
div.ContactIn { display: inline-block; text-align: left;
	/*position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);*/ margin-top: 50px;}
div.ContactIn > p:nth-of-type(1)::before { content: ""; display: inline-block; width: 25px; height: 30px; background: url('../img/phone.svg')center / contain no-repeat; vertical-align: middle; margin-right: 10px; }
div.ContactIn > p:nth-of-type(2)::before { content: ""; display: inline-block; width: 25px; height: 25px; background: url("../img/mail.svg")center / 100% no-repeat; vertical-align: middle; margin-right: 10px; }
div.ContactIn > p:nth-of-type(3)::before { content: ""; display: inline-block; width: 25px; height: 28px; background: url("../img/i_github.svg")center / 100% no-repeat; vertical-align: middle; margin-right: 10px; }
div.ContactIn > p { margin: 10px 0; }
div.ContactIn > p:first-child { letter-spacing: 1px; }
div.Contact > img { display: block; margin: 250px auto 30px; }

div.Tools { background: #eff4f7; padding: 100px 0 200px; color: #787878;}
div.Tools > h1 { text-align: center; font-size: 16px; margin-bottom: 100px; }
div.Tools > h1::after { content: ""; display: block; width: 20px; height: 1px; background: #787878; margin: 0 auto; margin-top: 15px; }
/* div.Tools > ul > li { display: block; font-size: 12px; width: 100%; text-align: center; margin-bottom: 10px; }
div.Tools > ul > li > img { margin-bottom: -3px; }
div.Tools > ul > li > p { display: inline-block; width: 550px; height: 32px; border: 1px solid #787878; border-radius: 0 10px 10px 0; position: relative; text-align: right; line-height: 32px; padding-right: 15px; }
div.Tools > ul > li > p > span { width: 2px; height: 33px; background:  #787878; color: #f2f8f3; position: absolute; top: 0; left: -1px; line-height: 32px; padding-right: 20px; transition: 1.5s ease-in; opacity: 0; }
div.Tools:hover > ul > li.ps > p > span { width: 400px; transition: 1s ease-out; opacity: 1; }
div.Tools:hover > ul > li.il > p > span { width: 450px; transition: 1s ease-out; opacity: 1; }
div.Tools:hover > ul > li.ht > p > span { width: 450px; transition: 1s ease-out; opacity: 1; }
div.Tools:hover > ul > li.cs > p > span { width: 400px; transition: 1s ease-out; opacity: 1; }
div.Tools:hover > ul > li.js > p > span { width: 200px; transition: 1s ease-out; opacity: 1; } */
div.Tools ul { display: flex; justify-content: center; }
div.Tools ul li { padding: 0 15px; }
div.Tools ul li img { height: 80px; max-width: 120px;}
div.Tools ul li p { text-align: center; margin-top: 10px; font-weight: 600;}




/*slick*/


div.contentsList {
    width: 1200px;
    margin: 0 auto;
    /* cursor: url(../img/pause03.png),auto; */
   
}
div.contentsList img {
    width: 1200px;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    display: block;
    width: 47px;
    height: 21px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}
.slick-prev::before {
    content: ""; display: block; width: 47px; height: 21px; background: url("../../img/subSlide_prev2.png") no-repeat;
}
.slick-prev {
    left: -47px;
}
.slick-next::before {
    content: ""; display: block; width: 47px; height: 21px; background: url("../../img/subSlide_next2.png") no-repeat;
}
.slick-next {
    right: -47px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.contentsList {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 0 150px;
   
}
div.contentsList img {
    width: 1200px;
}


.slick-dots li {
    display: inline-block;
    cursor: none;
}